.hamburgerMenu {
    display: none;
}

.menuButton {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem; 
}

.menuContent {
    display: flex;
    gap: 1.25rem;
    position: absolute;
    top: 6.25rem; 
    right: 1.25rem; 
    box-shadow: 0px 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    padding: 0.625rem; 
    border-radius: 0.5rem;
    width: auto;
    min-width: 12.5rem; 
    max-width: 90%;
    flex-wrap: nowrap;
    justify-content: center;
    flex-shrink: 0;
}

.menuContent a {
    text-decoration: none;
    color: var(--black);
    padding: 0.625rem; 
    transition: color 0.3s;
    flex-shrink: 0;
}

.menuContent a:hover {
    color: var(--purple);
}

@media (max-width: 62rem) { 
    .hamburgerMenu {
        display: block;
    }

    .menuContent {
        top: 5rem; 
        right: 0;
        left: 0;
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        padding: 0.625rem 1.25rem;
        gap: 0.625rem; 
    }

    .menuContent a {
        margin-top: 0.625rem;
        font-size: 0.75rem; 
        padding: 0.125rem; 
    }
}

@media (max-width: 42.25rem) { 
    .menuContent {
        top: 4.375rem; 
        right: 0;
        left: -1.25rem;
        padding: 0.375rem 0.75rem; 
    }

    .menuContent a {
        margin-top: 0.625rem;
        font-size: 0.75rem;
        padding: 0.125rem; 
    }
}

@media (max-width: 22.5rem) { 
    .menuContent {
        padding: 0.3125rem 0.625rem; 
        overflow-x: auto;
        top: 1.25rem; 
        right: 0;
        left: 0;
    }

    .menuContent a {
        font-size: 0.625rem; 
        padding: 0.125rem; 
    }
}
