.cardWrapper {
  max-width: 82.0rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  margin-top: 2.5rem; 
  position: relative; 
  z-index: 2;
}

.homeContainer {
  width: 100%;
  position: relative;
  background-image: 
      url('../../public/images/home-bg.jpg'),
      linear-gradient(45deg, rgba(96, 59, 183, 0.7), rgba(169, 73, 96, 0.7));
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  height: 50rem; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  text-align: center;
}

.homeContainer::after {
  content: "";
  position: absolute;
  bottom: -5rem; 
  left: 0;
  width: 100%;
  height: 18.125rem; 
  background-image: url('../../public/images/cloud.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.contentWrapper {
  width: 100%;
  max-width: 75rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem; 
  margin: 0 auto;
}

.mainContent {
  text-align: center;
  margin-top: 3.125rem;
}

.cardStyle {
  margin-top: 2.5rem;
}


@media (max-width: 75rem) { 
  .contentWrapper {
      padding: 0 3.125rem; 
  }
}

@media (max-width: 62rem) { 
  .contentWrapper {
      padding: 0 1.25rem; 
  }

  .homeContainer {
      height: auto;
      padding-bottom: 5rem;
  }

  .homeContainer::after {
      height: 12.5rem; 
      display: none;
  }

  .mainContent {
      margin-top: 1.875rem; 
  }
}

@media (max-width: 48rem) { 
  .homeContainer {
      height: auto;
  }

  .homeContainer::after {
      height: 9.375rem; 
  }

  .contentWrapper {
      padding: 0 0.625rem;
  }

  .mainContent {
      margin-top: 1.25rem; 
  }
}

@media (max-width: 30rem) { 
  .contentWrapper {
      padding: 0 0.3125rem;
  }

  .mainContent {
      margin-top: 0.625rem; 
      font-size: 0.875rem; 
  }
}

