.infoBlock {
    display: flex;
    gap: 4.5rem;
    align-items: flex-start;
    justify-content: space-between;
  
    max-width: 75rem; 
    margin-top: 7.5rem; 
}

.textContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60%;
}

.textContent h4 {
    font-size: 0.75rem; 
    color: var(--dark-blue);
}

.textContent h2 {
    font-size: 1.25rem; 
    color: var(--black);
    font-size: 3.5rem;
    font-weight: 700;
}

.textContent p {
    font-size: 1rem;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 1.25rem;
}

.specialContent {
    border-left: 0.125rem solid var(--dark-blue);
}

.specialContent p {
    color: var(--black);
    margin-left: 1.5rem;
    margin-top: 0;
}

.button {
    padding: 0.625rem 1.25rem; 
    background: transparent;
    color: black;
    border: 0.125rem solid black;
    border-radius: 3rem; 
    cursor: pointer;
    font-size: 1rem; 
    margin-top: 3.5rem;
}

.button:hover {
    background-color: #2D00F7;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 48rem) { 
    .infoBlock {
        flex-direction: column;
        text-align: center;
    }

    .textContent {
        max-width: 100%;
    }
}

